* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0 !important;;
}

.header {
    width: 100%;
    height: 40px;
    position: fixed;
}

.spacer {
    height: 40px;
    width: 100%;
}

.minw500 {
    width: 500px;
}

.tweet_ani {
    animation-name: tweet_ani;
    animation-duration: 1s;
    background-color: white;
}

@keyframes tweet_ani {
    0% {
        background-color: green;
        color: white;
        height: 50px;
    }
    100% {
        background-color: white;
        overflow: auto !important;
    }

}

@media screen and (max-width: 500px) {
    .minw500 {
        width: 100%;
    }
}
